/* You can add global styles to this file, and also import other style files */
html, body{
    margin:0px;
    padding:0px;
}

.bg-mentor-path {
    background-color: #f9f98f;
}

.navbar-brand {
    font-size : 2rem !important;
}